body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.container {
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #477bff;
    border: none;
}
