<!-- templates/history.html -->
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Histórico de Transações</title>
</head>
<body>
    <h1>Histórico de Transações</h1>

    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Símbolo</th>
                <th>Preço</th>
                <th>Número de Ações</th>
                <th>Data e Hora</th>
            </tr>
        </thead>
        <tbody>
            {% if transactions %}
            {% for transaction in user_transactions %}
            <tr>
                <td class="text-start">{{ transaction["symbol"] }}</td>
                <td class="text-end">{{ transaction["shares"]}}</td>
                <td class="text-end">{{ transaction["price"] | usd}}</td>
                <td class="text-end">{{ transaction["transacted"]}}</td>
            </tr>
        {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Nenhuma transação encontrada.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
