{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h1>Bem-vindo à sua conta!</h1>
<h2>Seu saldo: R$ {{ balance }}</h2>
<h2>Valor total das ações: R$ {{ total_value }}</h2>

<table>
    <thead>
        <tr>
            <th>Símbolo</th>
            <th>Ações Possuídas</th>
            <th>Preço Atual</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.total_shares }}</td>
                <td>R$ {{ stock.price }}</td>
                <td>R$ {{ stock.total_value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
